/.env
/.vscode
/.hmcl.json
/HMCL-*.jar
/*.zip
/build
/release

/.minecraft/*

!/.minecraft/config
!/.minecraft/defaultconfigs
!/.minecraft/kubejs
!/.minecraft/options.txt
!/.minecraft/rhino.local.properties
