/.env
/.vscode
/.hmcl.json
/*.jar
/*.zip
/*.log
/build
/release
/server

/.minecraft/*

!/.minecraft/config
!/.minecraft/defaultconfigs
!/.minecraft/kubejs
!/.minecraft/options.txt
!/.minecraft/rhino.local.properties
